body {
	background-color: #11181f;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('Roboto_font/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('Roboto_font/Roboto-BlackItalic.ttf');
}
@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('Roboto_font/Roboto-BoldItalic.ttf');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('Roboto_font/Roboto-Light.ttf');
}
@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('Roboto_font/Roboto-MediumItalic.ttf');
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('Roboto_font/Roboto-Medium.ttf');
}
.dropdown-item:hover {
	background-color: grey;
}
/*nav seection*/
.header-section {
	height: 200px;
}
/*nav section*/

.icon {
	color:#d39e00;
	size: 1rem;
}
.icon:hover {
	color:#fff;
}
#navbar-brand {
	color:#d39e00;
}
.navbar-brand {
	
	padding-left: 50px;
	font-family: Roboto-BlackItalic;
    font-size: 2rem;
}
.nav-item {
	padding: 10px 20px;
}
.navbar {
	/*background: transparent;*/
    z-index: 2;

}
.nav-link {
	font-family: Roboto-Medium;
    font-size: 1.25rem;
    font-weight: bold;
}
#text-clr {
	color:#d39e00;
}
#text-clr1 {
	color:#d39e00;
}
#text-clr2 {
	color:#d39e00;
}

/*footer*/
.p-clr {
	color:#d39e00; 
}
.white-section {
	height: 150px;
	font-family: Roboto-Light;
	font-size: 1.5rem;
}
.footer {
	text-align: center;
    margin-top: 8%;
}
.social-icon {
	padding-right: 50px;
	padding-bottom: 10px;
}
#space {
	margin-left: 50px;
}
