body {
	background-color: #fff;
}
/*Fonts*/
@font-face {
	font-family: 'Roboto-Bold';
	src: url('Roboto_font/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('Roboto_font/Roboto-BlackItalic.ttf');
}
@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('Roboto_font/Roboto-BoldItalic.ttf');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('Roboto_font/Roboto-Light.ttf');
}
@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('Roboto_font/Roboto-MediumItalic.ttf');
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('Roboto_font/Roboto-Medium.ttf');
}
@media screen and (max-width:992px) {
	#row-pd {
    	padding: 0px;
	}
	#comments {
	height: 1850px;
	}

}
.dropdown-item:hover {
	background-color: grey;
}

.header_section {
	height: 500px;
}
/*header_image*/
.bgImage {
	width: 100%;
}
.image-md {
	width: 100%;
	position: absolute;
	top: 0;
}

/*nav*/
.icon {
	color:#525055;;
	size: 1rem;
}
.icon:hover {
	color:black;
}
#navbar-brand {
	color:#525055;
}
.navbar-brand {
	
	padding-left: 50px;
	font-family: Roboto-BlackItalic;
    font-size: 2rem;
}
.nav-item {
	padding: 10px 20px;
}
.navbar.nav-clr {
	background-color: #fff;
}
.navbar {
	/*background: transparent;*/
    z-index: 2;

}
.nav-link {
	font-family: Roboto-Medium;
    font-size: 1.25rem;
    font-weight: bold;
}
#text-clr {
	color:#525055;
}
#text-clr1 {
	color:#525055;
}
#text-clr2 {
	color:#525055;
}

/*feature or facts*/
.feature {
	height: 500px;

}
.feature-box {
	text-align: center;

	/*padding: 10% 5%;*/
}
.row-pd {
	padding: 140px 5%;
}
.icon-cl {
	color: #8e692c;
}
.icon-cl:hover {
	color: #d1cebd;
}
.feature-title {
	font-family: Roboto-Bold;
	font-size: 1.5rem;
	padding-top: 10px;
}
/*comments*/
.full-section {
	position: relative;
	top: 100px;
}
.row-section.in-view{
	opacity: 1;
	transform: translate3d(0px,0px,0px);
}
.row-section1.in-view{
	opacity: 1;
	transform: translate3d(0px,0px,0px);
}
.row-section2.in-view{
	opacity: 1;
	transform: translate3d(0px,0px,0px);
}
.animation-element {
/*  opacity: 0;*/
  position: relative;
}
.row-section {
	/*height:400px;*/
	/*background: linear-gradient(45deg, black, transparent);*/
	background-image: linear-gradient(180deg, #b2b5bb 0%, rgba(255,255,255,0) 100%);
    margin: auto;
/*    position: relative;
*/    transition: all 2000ms linear;
    transform: translate3d(-1000px,0px,0px);
   /* animation-name:section-slide;
    animation-duration:2s;  */
    width: 90%;
    opacity: 0;
}
/*@keyframes section-slide {
	from{ right: 1000px }
	to{right:0px}
}
   */

.row-section1 {
	/*height:400px;*/
	margin: auto;
	width: 90%;
	margin-top: 20px;
	/*position: relative;*/
	transition: all 2000ms linear;
	transform: translate3d(1000px,0px,0px);
/*	animation-name:section-slide2;
    animation-duration:2s;*/
    /*background: linear-gradient(-45deg, black, transparent);*/
    background-image: linear-gradient(180deg, #b2b5bb 0%, rgba(255,255,255,0) 100%);
    opacity: 0;
}
/*@keyframes section-slide2 {
	from{ left: 1000px }
	to{left:0px}
}*/
.row-section2 {
	/*height:470px;*/
	/*background: linear-gradient(45deg, black, transparent);*/
	background-image: linear-gradient(180deg, #b2b5bb 0%, rgba(255,255,255,0) 100%);
    margin: auto;
    margin-top: 20px;
 	/*position: relative;*/
 	transition: all 2000ms linear;
 	transform: translate3d(-1000px,0px,0px);
   /* animation-name:section-slide;
    animation-duration:2s;  */
    width: 90%;
    opacity: 0;
}
.comments {
	height: 1200px;
	background-color: #9ac7d4;
}
/*.comment-box {
	height:400px;
}*/
.comment-last-box {
	/*height:470px;*/
}
#comment-last-box {
	/*height: 440px;*/
}
.first{
	width: 100%;
    height: 300px;
   /* padding: 0px;
    margin-left: 23px;*/
    margin-top: 18px;
}
.border_r {
	border-radius: 25px 25px 25px 25px;
	padding-bottom: 30px;
}
/*footer*/
.white-section {
	height: 150px;
	font-family: Roboto-Light;
	font-size: 1.5rem;
}
.container-fluid {
	text-align: center;
    margin-top: 12%;
}
.footer {
	text-align: center;
    margin-top: 8%;
}
.social-icon {
	padding-right: 50px;
	padding-bottom: 10px;
}
#space {
	margin-left: 50px;
}
